/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images
/public/installer
/packages
/resources/assets/core/app-assets/images
/resources/assets/core/app-assets/images-placeholder
/resources/assets/general/images